.venv/
__pycache__/
*.py[cod]
.DS_Store
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
.mypy_cache/

sot.toml
sot.keys.toml
.env

.sot-cli/
uv.lock
sot_cli.egg-info/

# Temporary scripts
temp_scripts/*
